
notebooks/.ipynb_checkpoints
notebooks/notebook.tex
notebooks/output_43_0.png
notebooks/output_44_0.png
notebooks/output_45_0.png
notebooks/output_46_0.png
*.ipynb~
notebooks/first_figure.png
code/myplot.png
.Rproj.user
code/R/.RData
code/R/.Rhistory
code/R/basic_R_programming.html
code/R/Notebook With Other Languages.nb.html
code/R/Sample R Notebook.nb.html
code/R/Notebook With Other Languages.nb.html
code/R/Notebook With Other Languages.nb.html
.Rhistory
.RData
*.pyc
code/py/.spyproject/codestyle.ini
code/py/.spyproject/encoding.ini
code/py/.spyproject/vcs.ini
code/py/.spyproject/workspace.ini
